.taskWrapper {
    margin: 1rem;
    font-size: 1.7rem;
}

.correctOption {
    color: limegreen;
}

.incorrectOption {
    color: red;
}

.optionMark {
    margin-right: 3px;

    &:focus {
        border-color: var(--color-accent);
        box-shadow: none;
    }
}

.optionsWrapper {
    display: flex;
    flex-direction: column;
}