MYSQL_HOST="localhost"
MYSQL_PASSWORD="admin123"
MYSQL_DB_NAME="database"
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD="${MYSQL_PASSWORD}"
MYSQL_DATABASE="${MYSQL_DB_NAME}"

DATABASE_URL="mysql://root:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB_NAME}"