.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;

    &Input {
        @media (min-aspect-ratio: 1/1) {
            min-width: 200px;
            width: 30rem;
            font-size: 1.6rem;
            padding: 1rem;
        }

        @media (max-aspect-ratio: 1/1) {
            font-size: 1.3rem;
            padding: 0.6rem;
        }

        background-color: var(--color-surface);
        border-radius: 2rem;
        border: none;
        color: var(--color-text-primary);
    }

    &Input:focus {
        border: var(--border-thick);
    }
}
