.ButtonAddContainer {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.ButtonAdd {
    @media (min-aspect-ratio: 1/1) {
        width: 2.4rem;
        height: 2.4rem;
    }

    @media (max-aspect-ratio: 1/1) {
        width: 1.8rem;
        height: 1.8rem;
    }

    background-color: var(--color-accent2);
    color: var(--color-text-buttons);
    border-radius: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
