.Main {
    display: flex;
    justify-content: center;

    &Wrapper {
        @media (min-aspect-ratio: 1/1) {
            width: 60%;
        }
        @media (max-aspect-ratio: 1/1) {
            width: 95%;
        }
    }

    &TitleContainer {
        h1 {
            font-size: 3.6rem;
            color: var(--color-text-primary);
        }
        p {
            font-size: 2rem;
            color: var(--color-text-secondary);
        }
    }

    &OptionsContaier {
        display: flex;
        @media (min-aspect-ratio: 1/1) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        @media (max-aspect-ratio: 1/1) {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }

    &Options,
    &LearnOptions {
        @media (min-aspect-ratio: 1/1) {
            width: 50%;
        }
        @media (max-aspect-ratio: 1/1) {
            width: 100%;
        }

        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &Options {
        @media (min-aspect-ratio: 1/1) {
            justify-content: flex-end;
        }
        @media (max-aspect-ratio: 1/1) {
            justify-content: center;
        }
    }

    &LearnOptions {
        @media (min-aspect-ratio: 1/1) {
            justify-content: flex-start;
        }
        @media (max-aspect-ratio: 1/1) {
            justify-content: center;
        }
    }

    &Author {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;

        &LikeContainer {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
}
