.setupLabel {
  font-size: 2rem;
  margin: 1rem;
}

.setupForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: var(--border);
  border-radius: 1.6rem;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-big);
  margin-top: 3rem;
}

.setupInput {
  margin-left: 5px;
}

.setupSelect {
  padding: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  outline: none;
  color: var(--color-text-primary);
  background-color: var(--color-surface);

  &:focus {
    border-color: var(--color-accent);
    box-shadow: var(--shadow);
  }
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}