.ListableFlashcard {
    border: var(--border-thick);
    padding: 2rem;
    border-radius: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-around;

    div
    {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-text-secondary);
    }
}
