.ListableFlashcard {
    border: var(--border-thick);
    padding: 2rem;
    border-radius: 2rem;
    @media (min-aspect-ratio: 1/1) {
        width: 80%;
    }
    @media (max-aspect-ratio: 1/1) {
        width: 100%;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-text-secondary);
    }
}
